<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotoMaster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FDDE22D91C6DE36D00DA8141</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDDE22ED1C6DE36D00DA8141</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDDE22F81C6DE36D00DA8141</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
